.nav-link {
    color: inherit;
    text-decoration: none;
    transition: 0.25s ease;
}
ul {
    display: flex;
    flex-wrap: wrap;
}
ul li {
    margin-left: 0.75em;
    margin-right: 0.75em;
}
ul:hover .nav-link {
    color: #ccc;
}
ul:hover .nav-link:hover {
    color: #000;
    box-shadow: 0 2px 0 0 currentcolor;
}

.outer-admin-main{
    background-color: #f9EAD9;
}

.btn-outline {
    color: #211d1d !important;
    background-color: transparent !important;
    border-color: #de2105 !important;
    font-weight: bold !important;
    letter-spacing: 0.05em !important;
  }
  
  .btn-outline {
    color: #211d1d !important;
    background-color: transparent !important;
    border-color: #de2105 !important;
    font-weight: bold !important;
    border-radius: 20 !important;
  }
  
  .btn-outline:hover,
  .btn-outline:active,
  .btn-outline:focus,
  .btn-outline.active {
    background: #de2105 !important;
    color: #ffffff !important;
    border-color: #de2105 !important;
    
  }