.forgot-text {
  color: #0063e4;
  font-size: 1.3rem;
  text-decoration: none;
  margin-top: 1em;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  margin-left: -0.5em;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.forgot-text:before, .forgot-text:after {
  position: absolute;
  content: '';
  border-bottom: 3px solid #0063e4;
  border-radius: 1em;
  bottom: 0.3em;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.forgot-text:before {
  width: 1em;
  transform-origin: left;
}
.forgot-text:after {
  width: 82%;
  left: 1em;
  transform: translateX(110%);
}
.forgot-text:hover:before {
  transform: scaleX(0.3);
}
.forgot-text:hover:after {
  transform: translateX(0);
}



.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 89vh;
    font-family:'Poppins';
  }
  
  .Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }
  
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

  .outer{
      background-color: #f9EAD9;
  }